.modal {
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  min-height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -9999;

  transition: opacity 0.3s, visibility 0.3s;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 9999;
}

.modalInner {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;

  position: relative;
}

.modalBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modalCloseBtn {
  font-size: 45px;
  color: rgb(255, 255, 255) !important;

  position: absolute;
  top: -30px;
  right: -30px;
}